<h1>Debt-resolve.com - (Duke Leads - FZCO Cookie Policy)</h1>
This website (https://debt-resolve.com/ ) uses cookies.<br>
A cookie is a small text file that is downloaded to your computer that gives you a more personalised experience when using our website. They are not harmful and are not used to identify you personally.<br>
For example, a cookie can record certain information about a visitor to a website to tailor their options for when they next visit.<br>
By continuing to use this website (https://debt-resolve.com/ ) we at Duke Leads FZCO will assume that you are happy with our cookie policy and that we can place cookies on your computer device.<br>
Most internet browsers will allow you to turn off cookies if you wish, you should refer to the Help guide of your browser to learn how to do this. But please remember that disabling or blocking cookies may impact your ability to use websites and the services that they offer.<br>
Some tools you may find useful for working with cookies:<br>
<br>
<ul></ul>
Google Analytics Opt-out Browser Add-on - https://tools.google.com/dlpage/gaoptout
Your Online Choices - http://www.youronlinechoices.com/uk/
To learn more about cookies visit
All About Cookies - http://www.allaboutcookies.org/
Cookies we use
Necessary Cookies
These help to make a website (https://debt-resolve.com/ ) usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies
Cookie Name:
Provider
Purpose
Type
Expiry
__cfduid
debt-resolve.com
Used by the content network, Cloudflare, to identify trusted web traffic
HTTP
29 Days
_biz_flagsA
.cloudflare.com
This cookie stores whether or not the user has submitted a form


1 year

Statistics Cookies
These help a website owner to understand how visitors interact with their website by collecting and reporting information anonymously:
Cookie Name:
Provider
Purpose
Type
Expiry
_biz_nA
.cloudflare.com
This cookie is used to record website and server performance with each visit to the site.


1 year
_biz_pendingA
.cloudflare.com
This cookie is used to record website and server performance with each visit to the site. The data is aggregated and analyzed; therefore, it remains anonymous upon use.


1 year
_biz_uid
.cloudflare.com
Used to record website and server performance with each visit to the site. The data is aggregated and analyzed; therefore, it remains anonymous upon use


1 year
_mkto_trk
.cloudflare.com
This cookie is associated with an email marketing service provided by Marketo. This tracking cookie allows a website to link visitor behaviour to the recipient of an email marketing campaign, to measure campaign effectiveness.


2 years
_gaexp
debt-resolve.com
Used to determine a user's inclusion in an experiment and the expiry of experiments a user has been included in




_gat_UA-147691944-1
debt-resolve.com
Used to send data to Google Analytics about the user statistics.




_hjIncludedInSample
debt-resolve.com
It uniquely identifies a visitor during a single browser session and indicates they are included in an audience sample.


Session
__debtcleartoday_session
debt-resolve.com
File in a temporary directory on the browser to register session variables.
HTTP
Session
OTZ
google.com
Used by Google Analytics that provides an aggregate analysis of Website visitors




_gcl_au
debt-resolve.com
It's the first party cookie for "Conversion Linker" functionality.


60 days
_ga
debt-resolve.com
Registers a unique ID that is used to generate statistical data on how the visitor uses the website
HTTP
2 Years
_gat
debt-resolve.com
Used by Google Analytics to throttle request rate
HTTP
1 day
_gid
debt-resolve.com
Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
HTTP
1 day
collect
google-analytics.com
Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels
Pixel
Session

Marketing Cookies
These are used to track visitors to a website with the intention or displaying advertisements that are relevant to the user, these may include cookies set and collected by our third-party advertisers or providers:
Cookie Name:
Provider
Purpose
Type
Expiry
DSID
.doubleclick.net
DSID are used to link your activity across devices if you've previously signed in to your Google Account on another device.




IDE
.doubleclick.net
‘IDE‘ is stored in browsers by Google for advertising purpose.




datr
.facebook.com
datr cookie is to identify the web browser being used to connect to Facebook independent of the logged in user.
HTTP
2 Years
sb
.facebook.com
Used by Facebook to improve friend suggestions
HTTP
2 Years
__Secure-3PSIDCC
.google.com
These cookies are used to deliver ads more relevant to you and your interests




SIDCC
.google.com
This cookie carries out information about how the end user uses the website and any advertising that the end user may have seen before visiting the said website.




1P_JAR
.gstatic.com
This cookie carries out information about how the end user uses the website and any advertising that the end user may have seen before visiting the said website.


30 days
_gcl_aw
debt-resolve.com
Used by Google AdSense for experimenting with advertisement efficiency across websites using their services


2 Months
_fbp
debt-resolve.com
Used by Facebook to deliver a series of advertisement products such as real time bidding from third party
HTTP
3 Months
_schn
debt-resolve.com
Tracks the individual sessions on the website, allowing the website to compile statistical datafrom multiple visits. This data can also be usedto create leads for marketing purposes.
HTTP
Session
_scid
debt-resolve.com
Sets a unique ID for the visitor, that allows third party advertisers to target the visitor with relevant advertisement. This pairing service is provided by third party advertisement hubs, which facilitates real-time bidding for advertisers.
HTTP
13 Months
ads/ga-audiences
google.com
Used by Google AdWords to re-engage visitorsthat are likely to convert to customers based on the visitor's on line behaviour across websites.
Pixel
Session
MUID
bing.com
Used widely by Microsoft as a unique user ID. The cookie enables user tracking by synchronising the ID across many Microsoft domains.
HTTP
1 Year
sc_at
snapchat.com
Used by Snapchat to implement advertisement content on the website - The cookie detects the efficiency of the ads and collects visitor data for further visitor segmentation .
HTTP
1 Year
tr
facebook.com
Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertisers.
Pixel
Session
fr
facebook.com
Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertiser
HTTP
3 Months
