
<%= javascript_pack_tag 'start', 'data-turbolinks-track': 'reload', defer: true %>

<div class="container" id="debt-main">
<a href="/"><%= image_tag('logo.png', class: 'logo-img mt-2 d-md-block')%></a>
<h1>Privacy Policy</h1>
 
<p>The following information is provided to comply with the requirements of the UK General Data Protection Regulation.
At Debt-resolve.com we’re committed to protecting and respecting your privacy. We know that you care about how your information is used and shared and we appreciate your trust in us to do that carefully and sensibly. This notice describes our privacy policy and forms part of our website terms and conditions (“Website Terms”).<br>
This privacy statement describes why and how we collect and use personal data and provides information about individuals’ rights. It applies to personal data provided to us, both by individuals themselves or by others. We may use personal data provided to us for any of the purposes described in this privacy statement or as otherwise stated at the point of collection.<br>
Identity and contact details of the controller and where applicable, the controller’s representative and the data protection officer<br>
Debt-resolve.com (company registered number 14030019) is a subsidiary of Debt SolvoLimited (a firm of licensed Insolvency Practitioners with company registered number 09870591). Both companies are based at the following registered office: 683-693 Wilmslow Road, Manchester M20 6RE.<br>
Where an insolvency practitioner of Debt-resolve.com is not appointed as office holder, the data controller is the company / individual on whose instructions Debt-resolve.com is acting. For contact details, please contact Debt-resolve.com, 683-693 Wilmslow Road, Manchester, M20 6RE, 0161 694 9955, info@debtsolvo.com<br>
Where an insolvency practitioner of Debt-resolve.com is appointed as office holder and the data processing is carried out as part of their statutory duties, the office holder(s) is(are) the data controllers. However, where they are processing data on behalf the company / individual over which they have been appointed, then the data controller is that company / individual. In either case, the data controller(s) can be contacted at: Debt-resolve.com, 683-693 Wilmslow Road, Manchester, M20 6RE, 0161 694 9955, info@debtsolvo.com</p>
<h2>How we collect data from you</h2>
<h3>We collect Personal Data from you</h3>
    <ul>
    <li>When you provide the data to us by completing web forms or over a telephone conversation or by emailing us or by uploading documents to a website portal or by messaging us or by other correspondence with us</li>
    <li>Information that we learn about you through our relationship with you</li>
    <li>When you take a service or product from us.</li>
    <li>When you contact us, or if you have replied to a communication from us.</li>
    <li>A third party who sells your data.</li>
    <ul>
<h3>Who provided the personal data</h3>
<p>The personal data we have used to contact you was provided by the company / individual (or persons acting on their behalf) on whose instructions we are acting or in relation to which our insolvency practitioner has been appointed.
Information may be collected from:</p>
    <ul>
        <li>The data subject, where they have provided their permission to be provided to us</li>
        <li>Telephone enquiries by the data subject</li>
        <li>Reviews added by the data subject</li>
        <li>The data subject interacting with us on social media such as Facebook, twitter, etc.</li>
        <li>When we may need to obtain up to date information about a data subject to meet our legal or regulatory obligations</li>
    </ul>
We also access information from<br>
    <ul>
    <li>the Registrar of Companies,</li>
    <li>the court (if applicable),</li>
    <li>Credit Reference Agencies (with an individual’s specific consent)</li>
    <li>Other similar public-access data providers.</li>
    </ul>
<h4>How we use the personal data</h4><br>
The purpose for which personal information is processed may include any or all of the following:<br>
    <ul>
    <li>we record all telephone calls for training and monitoring purposes</li>
    <li>deliver services and meet legal responsibilities</li>
    <li>verify identity where this is required</li>
    <li>communication by post, email, text message (SMS), telephone or via social media</li>
    <li>understand needs and how they may be met</li>
    <li>maintain records</li>
    <li>process financial transactions</li>
    <li>improve your account administration</li>
    <li>offer other products or services that we believe you may find beneficial</li>
    <li>prevent and detect crime, fraud or corruption</li>
    <li>we undertake marketing analysis, credit strategy and customer profiling</li>
    <li>we continue to market to you with relevant offers</li>
    <li>to prevent and detect consumer vulnerability</li>
    <li>we may also need to use data to defend or take legal actions related to the above</li>
    </ul>
<h4>Lawful basis for the processing</h4><br>
We will use personal information on the following bases:<br>
    <ul>
    <li>Where an individual has provided their consent to process personal data – you have given clear consent for us to process your personal data for a specific purpose.</li>
    <li>To provide a service for which a contract has been entered into - your personal data will also be processed on the basis that we need this information to fulfil our obligations under the contract we have entered into with you by introducing you to a Debt Solution provider offering debt solutions.</li>
    <li>To comply with our legal obligations under statute and other regulatory obligations related to the insolvency process. We also believe you have a legitimate interest in the information being supplied.</li>
    </ul>
What personal information we hold<br>
We will only collect information that we actually need, or where we are required to collect the information to enable us to perform our legal, regulatory or contractual obligations necessary to provide a service, or where we have specific permission.<br>
<h4>Categories of data collected</h4><br>
The categories are:<br>
    <ul>
    <li>Personal details (e.g. title, name, surname)</li>
    <li>Contact details & location (e.g. residential address, telephone number, work address, former residential addresses, email address, etc.)</li>
    <li>Personal information (e.g. date of birth, gender, marital status)</li>
    <li>Financial information (e.g. income, expenditure, assets, liabilities). Please note that we may, with an individual’s consent, approach a credit reference agency in order to confirm balances owed.</li>
    <li>Information on how you use our websites, products & services, to include IP addresses</li>
    </ul>
<h4>Special personal data</h4><br>
Additionally, we may enquire about Special Personal Data, with specific consent:<br>
    <ul>
    <li>Information about an individual’s family circumstances & dependents</li>
    <li>Information about an individual’s employment status</li>
    <li>Information about any health concerns that have impacted upon an individual’s situation (physical or mental health matters)</li>
    <li>Information about sexual orientation, religious beliefs, race or ethnic origin, political opinions, trade union membership or biometric data</li>
    </ul>
<h4>Information about other people</h4><br>
<ul>
    <li>If the provider of the information is an employer, information about their employees and all associated personal data</li>
    <li>If an enquiry is made for Individual Insolvency advice by an individual, and they have a spouse partner or other person has direct impact upon their financial affairs, they must have that other person’s permission to disclose such data.</li>
    </ul>
<h4>How long we retain your personal information</h4><br>
We retain personal data for as long as is necessary to achieve the purpose listed above and for any other permissible related purpose. For example, we retain most records until the time limit for claims arising from the activities has expired or otherwise to comply with statutory or regulatory requirements regarding the retention of such records.<br>
As an example, if an Individual enters into an Individual Voluntary Arrangement [‘IVA’] that might last up to 5 years, then we are required to maintain our Office Holder records for a further 6 years beyond the closure of the IVA.<br>
Enquires that do not lead to formal insolvency appointments with us are kept for 2 years.<br>
Who we share our data with<br>
Personal data held by us may be transferred to:<br>

<h4>Third party organisations that provide applications/functionality, data processing or IT services to us</h4>
We use third parties to support us in providing our services and to help provide, run and manage our internal IT systems. For example, providers of information technology, cloud-based software as a service provider, identity management, website hosting and management, data analysis, data back-up, security and storage services. The servers powering and facilitating that cloud infrastructure are located in secure data centres around the world, and personal data may be stored in any one of them.
<strong>Third party organisations that otherwise assist us in providing goods, services or information
Auditors and other professional advisers</strong><br>
<strong>Law enforcement or other government and regulatory agencies or to other third parties as required by, and in accordance with, applicable law or regulation
Occasionally, we may receive requests from third parties with authority to obtain disclosure of personal data, such as to check that we are complying with applicable law and regulation, to investigate an alleged crime, to establish, exercise or defend legal rights. We will only fulfil requests for personal data where we are permitted to do so in accordance with applicable law or regulation.</strong><br>
Our Regulatory Professional Body [‘RPB’] is the Insolvency Practitioners Association [‘IPA’]. They may require access to case work in order to carry out their regulatory functions. Additionally, the Information Commissioner’s Office is entitled under law to receive data.<br>
<h4>Voluntary Arrangements</h4>
Following an individual’s initial enquiry for debt assistance, their personal data will be stored on our system. It may also be shared with third parties with the individual’s specific consent. We strongly suggest that the individual reviews any third party’s privacy policies which will detail how they use their information. We may be paid an introductory fee if the individual opts for a solution that is provided by our third-party recommended providers.<br>
In a voluntary arrangement, the data will be shared with the creditors and their representatives. This will allow the Office Holder to comply with their legal obligations when helping an individual, company or partnership propose a Voluntary Arrangement.<br>
Additionally, Voluntary Arrangements information will be shared with the Insolvency Service and possibly the Court (depending upon the circumstances of the individual case).
The Insolvency Service (England & Wales) and the Department for the Economy (Northern Ireland) operate their own respective registers. Individual Voluntary Arrangements, Bankruptcies and Debt Relief Orders appear on this Register. The content of the registers is shared with credit reference agencies by them and is open for public inspection.<br>

Personal data may also be shared with<br>
<ul>
    <li>Unsecured lenders</li>
    <li>Secured lenders</li>
    <li>Credit reference agencies</li>
    <li>PPI Claims management companies</li>
    <li>Housing services</li>
    <li>Credit brokers</li>
    <li>Other Insolvency Practitioners</li>
    </ul>
For a detailed list of these third parties, please email info@debtsolvo.com<br>
<h5>Do we sell data?</h5><br>
Yes<br>
<h5>Why do we sell data?</h5>
In order to maintain the free-to-the-individual-advice we receive a referral fee from the trusted partner that we recommend you to (based on your individual financial circumstances).<br>
<h5>Do we profile your data?</h5>
We do limited profiling so that we can match an individual’s specific needs to the debt solution that is best suited to them.
<em>Your rights</em>
The UK GDPR provides the following rights for individuals:<br>
<h5>Right to inform</h5>
This privacy notice meets our requirement to inform you of our processing of your data.<br>
<h5>Access to personal data</h5>
You have a right of access to personal data held by us as a data controller. This right may be exercised by contacting us at Debt-resolve.com, 683-693 Wilmslow Road, Manchester, M20 6RE, 0161 694 9955, info@debtsolvo.com. We will aim to respond to any requests for information promptly, and in any event within one month.<br>

<h5>Amendment of personal data</h5>
To update personal data submitted to us, you may email us at info@debtsolvo.com or, where appropriate, contact us via the relevant website registration page or by amending the personal details held on relevant applications with which you registered.<br>
<em>Rights that do not apply in these particular circumstances</em>
Not all of the rights under the UK GDPR are available as one of the reasons we are holding your data is on the basis of it being a legal obligation and therefore the right to erasure, data portability and to object do not apply.<br>
<h5>Right to withdraw consent</h5>
Prior to the appointment of an Office Holder, in a formal capacity, an individual has the right to withdraw their consent by notifying Debt-resolve.com, 683-693 Wilmslow Road, Manchester, M20 6RE, 0161 694 9955, info@debtsolvo.com.<br>
However, if a formal appointment of Office Holder has occurred, then the basis of holding data becomes a legal one and therefore the right to withdraw consent does not apply.<br>
<h5><em>Complaints</em></h5>
Should you want to complain about our use of personal data, please contact us, Debt-resolve.com, 683-693 Wilmslow Road, Manchester, M20 6RE, 0161 694 9955, info@debtsolvo.com.<br>
You also have the right to lodge a complaint with the Information Commissioner's Office [‘ICO’] (the UK data protection regulator). For further information on your rights and how to complain to the ICO, please refer to the ICO website.<br>
<h5><em>Changes to our privacy statement</em></h5>
We keep this privacy statement under regular review and will place any updates on our website. Paper copies of the privacy statement may also be obtained by writing to us at Debt-resolve.com, 683-693 Wilmslow Road, Manchester, M20 6RE.
This privacy statement was last updated on 14 April 2022.


</div>
<%= render partial:  '/layouts/footer2' %>
