
<%= javascript_pack_tag 'start', 'data-turbolinks-track': 'reload', defer: true %>
<div class="container" id="debt-main">
<a href="/"><%= image_tag('logo.png', class: 'logo-img mt-2 d-md-block')%></a>
<h1>Terms and Conditions</h1>
<h3>Acceptance of Terms</h3>

Your use of this website and the enquiry form is governed by the following terms and conditions. By using this website, you accept these terms and conditions in full; if you disagree with any part of these terms and conditions you must not use this website or enquiry form.<br>
This website is for your personal, non-commercial use only.<br>
<h1>1. By clicking Get Contact</h1>
<strong>If you do not agree to the items below, then please do not click “Submit” or do not agree to these standard terms and conditions.</strong>
You agree that you would like to be contacted by a consultant from Debt-resolve.com [‘We’, ‘us’, ‘our’] (a company registered in England & Wales under company registered number 14030019) or their partner organisation Revive Solutions UK Ltd (a company registered in England & Wales under company registered number 09207891).<br>
<br>
Debt-resolve.com is a firm of licensed Insolvency Practitioners. Their appointment taking Insolvency Practitioner is Daniel Taylor (IP № 21050), who is regulated and authorised by the Insolvency Practitioners Association.<br>
<br>
Calls may be recorded for quality, training, and monitoring purposes.<br>
<br>
You agree that by clicking “Submit” or by you agreeing to use our service you are providing your specific consent for either Debt-resolve.com and/or Revive Solutions UK Limited to contact you via SMS, email or telephone.<br>
<br>
You agree that the data you supply will be used by us in order to identify possible debt solutions for you.<br>
<br>
You agree that we may share your data with third parties who may provide you with a debt relief solution most fitting to the circumstances that you advise us that you are currently facing.<br>
<br>
You may opt out at any time by sending us an email or by texting “STOP” as a reply to the messages you receive from us. At that point, our systems will be updated (within 2 business days) and you will not receive any further contact from us; unless you opt in again via our website or via a website of one of our partners.<br>
<br>
All debt solutions should be very carefully considered. We never charge for the service we give you, but if you enter into a financial solution for example an Individual Voluntary Arrangement (IVA) or Debt Management Plan with one of our trusted partners, then fees will apply and these are clearly explained to you by one of our trusted partners advisors or in the documentation you will receive. Debt Solvo partners are regulated by the Insolvency Practitioner’s Association and answer to the best practice guidance as required by the Insolvency Service.<br>
<br>
They apply the principles of business and you have the right to a cooling off period of 14 days. It is likely that your ability to obtain credit will be affected for a minimum of 6 years, even if the solution lasts for less.<br>
<br>
At Debt Solvo we do not provide any advice. On completion of our form, we will introduce you to one of our authorised debt solutions partners.<br>
<br>
We use the contact details you have given us on the form to make this introduction. A debt advisor will contact you by telephone. During that telephone call, the debt advisor will discuss your options in more detail. During this call, and other subsequent communications, you will be dealing with a debt solutions partner and not Debt Solvo.<br>
<br>
All solutions are subject to acceptance and eligibility. Further conditions will apply and calls are recorded for your protection. Initial advice is always free but, as commercial companies our partners do charge for on-going services.<br>
<br>
Debt Write off only applies on completion of the Insolvency Solution and details may appear on a public register. Full details will be discussed prior to entering into an agreement and alternative options may be offered, where considered to be in your best interest. Your ability to obtain credit will be affected for a minimum of 6 years, even if the solution lasts for less and your assets and property could be at risk.<br>
<br>
By submitting the enquiry form you agree that the information provided is true and accurate and that Debt Solvo may send the details of this enquiry to an appropriate trusted partner for the purpose of furthering your enquiry and that the trusted partner may contact you for further information as required. We will not send, sell, loan or lease your data to any other third party except those needed to provide the service you have requested.<br>
<br>
<strong>If you do not agree to the above, then please do not click “Submit” or do not agree to these standard terms and conditions.</strong>
<h1>2. Intellectual property</h1>
Unless otherwise stated, we or our licensors own the intellectual property rights in this website and material on the website. Subject to the licence conditions below, all these intellectual property rights are reserved.
<h1>3. Access to this website</h1>
The information provided by Debt Solvo and its associated companies on this website is not in any way an invitation or recommendation to buy any financial product or services.<br>
<br>
Debt Solvo and its associated companies make no representations or warranties about the suitability of the information provided as part of our service to you. To the extent allowed by the law we disclaim all warranties and conditions with regards to this information including any implied warranties and conditions of satisfactory quality, fitness for a particular purpose and title.<br>
<br>
We will endeavour to allow uninterrupted access to this website but access to the website may be suspended, restricted, or terminated at any time.<br>
<br>
<br>We reserve the right to change, modify, substitute, or remove without notice, any information on this website as and when we may desire.<br>
<br>
We assume no responsibility for the contents of any 3rd party websites which may be linked to this website.<br>
<h1>4. Licence to use this website</h1>
You may view, download for caching purposes only, or print pages from this website for your own personal use only, and subject to the below restrictions.<br>

You may not:<br>
<ul>
    <li>republish material from this website.</li>
    <li>sell, rent or otherwise sub-license material from this website.</li>
    <li>show any material from the website in public.</li>
    <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose.</li>
    <li>edit or attempt to edit or otherwise modify any material on this website.</li>
    <li>re-distribute material from this website except for content specifically and expressly made available for re-distribution.</li>
    </ul>
<h1>5. Limitations of warranties and liabilities</h1>
Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; and while all reasonable efforts will be made, we do not commit to ensuring that the website remains available or that the material on the website is kept up-to-date.<br>
<br>
To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this website (including without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).<br>
<br>
We do not hold ourselves out as providing any legal, financial, or other advice to you. We do not offer any advice regarding the nature or stability of any financial arrangement. We do not make any recommendation or endorsement as to any financial product or service offered by financial advisors who you may be introduced to through our service.<br>
<br>
Nothing in these terms and conditions (or elsewhere on our website) will exclude or limit our liability for fraud, for death or personal injury caused by our negligence, or for any other liability which cannot be excluded or limited under applicable law.<br>
<br>
Subject to this, our liability to you in relation to the use of this website or under or in connection with these terms and conditions, whether in contract, tort (including negligence) or otherwise, will be limited as follows:<br>
    <ul>
    <li>to the extent that the website and the information and services on the website are provided free-of-charge, we will not be liable for any loss or damage of any nature.</li>
    <li>we will not be liable for any consequential, indirect, or special loss or damage.</li>
    <li>we will not be liable for any loss of profit, income, revenue, anticipated savings, contracts, business, goodwill, reputation, data, or information.</li>
    </ul>
<h1>6. Variation</h1>
We may revise these terms of use from time-to-time. Revised terms of use will apply to the use of our website from the date of the publication of the revised terms of use on our website. Please check this page regularly to ensure you are familiar with the current version.<br>
<br>
<h1>7. Entire Agreement</h1>
This disclaimer together with our privacy policy constitutes the entire agreement between you and us in relation to your use of our website and supersedes all previous agreements in respect of your use of this website.<br>
<br>
<h1>8. Law and jurisdiction</h1>
This disclaimer will be governed by and construed in accordance with English law and any disputes relating to this disclaimer will be subject to the exclusive jurisdiction of the courts of England and Wales.<br>
<br>
<h1>9. What to do if you have a complaint</h1>
If you wish to register a complaint, please contact us:<br>
In writing: Debt-resolve.com 683-693 Wilmslow Road, Manchester M20 6RE<br>
By telephone: 0161 694 9955 (FAO: Compliance Officer)<br>
By email – info@debtsolvo.com<br>
If you cannot settle your complaint, you may be entitled to refer it to the Insolvency Service. You can find more information here by visiting the following website: https://www.gov.uk/complain-about-insolvency-practitione<br>

</div>
<%= render partial:  '/layouts/footer2' %>
