<div class="pt-4" style="background-color: rgba(240, 240, 240, 0.3)">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <div class="row ">
                    <div class="col-md-12">
                        <p class="text-md-start text-center mb-0 fw-light" style="color: rgb(0, 102, 204);">© Debt Solvo Limited | Company registered in England & Wales with № 14030019 | Data Protection Registration [Application pending]</p>
                        <br>
                        <br>
                        <p>Daniel Taylor is authorized in the UK to act as Insolvency Practitioners by the Insolvency Practitioners Association.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center align-self-right">
                <p class="text-center w-100 mb-0" style="color: rgb(0, 102, 204);">
                    <a target="_blank" class="text-decoration-none" href="/terms-and-conditions" >Terms &amp; Conditions</a> | <a target="_blank" class="text-decoration-none" style="color: rgb(0, 102, 204);"href="/your-privacy-rights">Privacy Policy</a>
                    <br>
                    <br>
                      <p>*85% debt write off is based upon the performance of IVAs administered by our debt solution providers.</p>
                        <p>To find out more about managing your money and getting free debt advice visit Money Helper, an independent service set up by the Government to help people manage their money.</p>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="small mb-1">
                An Individual Voluntary Arrangement (‘IVA’) is subject to the customer meeting qualifying criteria and gaining creditor acceptance. Initial advice is free and there is no obligation to proceed into an arrangement. Monthly IVA payments include fees and may differ to the example provided, based on the assessment made of your personal circumstances. These fees will be clearly explained to you in writing by your advisor. Debt write off amounts are subject to creditor acceptance and vary by individual. Debt Solvo does not administer or provide advice solely relating to debt management products, such as Debt Management Plans or Debt Payment Plans under the Debt Arrangement Scheme. Debt Solvo only provides advice after completing or receiving an initial fact find where the individual(s) concerned meets the criteria for one of their insolvency solutions, therefore, all advice is given in reasonable contemplation of an insolvency appointment.
            </p>
            <br>
            <p class="small">
                Registered address: 683-693 Wilmslow Road, Manchester M20 6RE
            </p>
        </div>
    </div>
    </div>


